.root {
    display: grid;
    grid-template-areas:
        'actions'
        'items';
    grid-template-columns: 1fr;
    line-height: 1;
}

.items {
    display: grid;
    grid-area: items;
    grid-gap: 1.5rem 1rem;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    margin-bottom: 10px;
    overflow: hidden;
}