.root{

}

.root.mode__category_page .specialPriceLabel{
    font-size: 1rem;
}


.oldPrice{
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    font-size: 16px;
    text-decoration: line-through;
    color: rgb(var(--venia-text-alt));
}

.oldPriceLabel{
    font-weight: 400;
}

.specialPrice{
    display: grid;
}

.specialPriceLabel{
    font-size: 1.4rem;
    font-weight: 400;
}

.saveInfo{
    display: flex;
    font-size: 16px;
    font-weight: 400;
    color: rgb(var(--rk--color__green));
}

.saveInfo > div{
    display: inline-flex;
    align-self: center;
    margin: 0 3px;
    font-weight: 600;
}