.root {
    padding: 0 20px;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 20px;
    line-height: 28px;
}

.title {
    align-self: center;
}

.sortForm {
    justify-self: left;
    align-self: end;
}

@media (min-width: 640px) {
    .header {
        grid-template-columns: auto 200px;
        grid-gap: 20px;
    }

    .sortForm {
        justify-self: center;
    }
}
