.root {
    display: grid;
    align-items: center;
}

.root.mode__product_page {
    grid-template-columns: auto 30px auto;
    grid-template-rows: 60px;
    width: 250px;
}

@media (max-width: 1023px) {
    .root.mode__product_page {
        min-width: 250px;
        width: auto;
    }
}

.root.mode__category_page {
    grid-template-columns: auto 30px;
    width: 60px;
}

.separator {
    text-align: center;
}

.minPrice,
.maxPrice {
    display: inline-flex;
}

.minPrice > div,
.maxPrice > div {
    display: inline-flex;
}

