.root{
    display: grid;
    align-items: center;
}

.root.mode__product_page{
    grid-template-columns: auto 30px auto;
    grid-template-rows: 60px;
    width: 200px;
}
.root.mode__category_page{
    grid-template-columns: auto 30px;
    width: 60px;
}

.separator{
    text-align: center;
}

.minPrice,
.maxPrice{
    display: inline-flex;
}

.minPrice > div,
.maxPrice > div{
    display: inline-flex;
}