.root {
    padding: 1rem;
}

.title {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0 0 1rem;
    padding: 0.5rem;
}

.title > span{
    text-transform: uppercase;
}

.title > small{
    display: block;
}


@media (min-width: 640px) {
    .title > small{
        display: inline-block;
    }
    .title > small:before{
        content:'-';
        margin: 0 5px;
    }
}

.topPagination{
    position: relative;
}

.pagination {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 9;
}

.placeholder {
    height: 100vh;
}

.categoryTitle {
    color: rgb(var(--venia-text));
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 1.375rem;
    text-align: center;
}

.categoryTitlePlaceholder {
    composes: placeholder from '../../styles/source/placeholder.css';
    height: 52px;
    margin-bottom: 16px;

}
