.root {
    border: 1px solid rgb(var(--rk--color__gray-3));
    padding: 15px;
    display: grid;
}

.root:hover {
    box-shadow: 1px 1px 1px rgb(var(--rk--color__gray-3));
}

.row {
    grid-template-areas: 
    "title title photo"
    "info info photo"
    "buttons buttons buttons";
    grid-template-columns: 1fr 1fr 120px;
    grid-template-rows: 35px 1fr auto;
}

.column {
    grid-template-areas: 
    "photo photo photo"
    "title title title"
    "info info info"
    "buttons buttons buttons";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.title {
    display: flex;
    align-items: center;
    grid-area: title;
}

.info {
    composes: root from '../Info/info.css';
    grid-area: info;
    margin-bottom: 15px;
}

.column .info {
    margin-top: 0;
}

.photo img {
    max-width: 100%;
    grid-area: photo;
    max-height: 135px;
    float: right;
}

.storeNumber {
    min-width: 30px;
    width: 30px;
    display: inline-block;
    font-weight: bold;
    margin: 0 6px 0 0;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background: rgb(var(--venia-teal));
    color: #fff;
}

.storeButtons {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(160px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-area: buttons;
}