.root {
    position: relative;
    border: 1px solid #cccccc;
    overflow: hidden;
    min-width: 0;
}

.details {
    padding: 20px;
    border-top: 1px solid #cccccc;
}

.imageWrapper {
    position: relative;
    padding-bottom: 220px;
    display: block;
    cursor: pointer;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.name {
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    max-width: 100%;
}

.description {
    height: 44px;
    margin-bottom: 10px;
    line-height: 22px;
    overflow: hidden;
}

.description p {
    margin: 0;
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 0;
    width: 60px;
    height: 60px;
    text-align: center;
    border: 2px solid #cccccc;
    border-radius: 50%;
    background: #ffffff;
}

.badgeMonth {
    display: block;
    margin-top: 7px;
    font-size: 14px;
}

.badgeDay {
    display: block;
    font-size: 20px;
    font-weight: 700;
}

.storesWrapper {
    position: relative;
    height: 30px;
    padding-bottom: 10px;
}

.storesWrapper:hover > .storesListWrapper {
    display: block;
}

.storeAnchor {
    cursor: pointer;
    color: #0c4e77;
}

.storesListWrapper {
    position: absolute;
    top: 26px;
    left: 0;
    display: none;
    max-height: 100px;
    overflow: auto;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0 5px;
}

.storesListWrapper ul li span {
    display: block;
    font-weight: 400;
    margin: 7px 0;
    color: inherit;
}

.linkWrapper {
    text-align: right;
}

.link {
    color: #0c4e77;
    cursor: pointer;
}
