.root{
    display: grid;
    grid-gap: 5px
}

.item{
    font-size: 1.1rem;
    font-weight: 400;
}

.item div{
    position: relative;
    top: -3px;
    display: inline-flex;
    font-weight: 600;
}