.root {
    display: flex;
    width: 225px;
    margin: 0 auto;
}

.input[type='text'] {
    height: 2.5rem;
    text-align: center;
    margin: 0 10px;
}

@media (min-width: 1024px) {
    .root {
        margin: 0;
    }
}