.root {
    composes: section from '../../../ProductFullDetail/productFullDetail.css';
    grid-area: deliveryMethod;
}

.header {
    composes: sectionTitle from '../../../ProductFullDetail/productFullDetail.css';
    justify-content: left;
}

.validationMessage{
    color: rgb(var(--rk--color__red));
}