.root {
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: rgb(var(--rk--color__gray-5));
    border-top: 1px solid rgb(var(--rk--color__gray-5));
    color: black;
    margin-top: 1rem;
    overflow: hidden;
    padding: 0 0 30px;
}

.nav > div,
.social > div {
    margin: 0;
}

.copyright > div {
    margin: 0 1rem;
}

.nav > div {
    max-width: 1024px;
    margin: 0 auto;
}

.banner,
.nav,
.social,
.copyright {
    grid-column: 1/3;
}

.banner {
    margin: -1rem;
}


@media (min-width: 768px) {


    .nav > div {
        padding: 15px;
    }
}

@media (min-width: 1024px) {
    .social {
        grid-column: 1/2;
    }

    .copyright {
        grid-column: 2/3;
    }

    .copyright > div {
        margin: 1rem;
    }
}