.root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'banner' 'nav' 'social' 'bottom';
    background-color: rgb(var(--rk--color__gray-5));
    border-top: 1px solid rgb(var(--rk--color__gray-5));
    color: black;
    margin-top: 1rem;
    overflow: hidden;
    padding: 0 0 30px;
}


.banner {
    grid-area: banner;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    background-color: rgb(var(--rk--color__red));
    color: #fff;
}


@media (min-width: 768px) {
    .banner {
        grid-column: 1/3;
        flex-direction: row;
    }

    .banner > div {
        font-weight: bold;
        padding: 5px 0;
    }
}


@media (min-width: 1024px) {
    .banner {
        padding: 0;
    }

    .banner > div {
        padding: 15px 0;
        font-size: 1.2rem;
    }
}

.nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.nav section {
    margin-bottom: -1px;
}

.navHeader button {
    padding: 15px;
    width: 100%;
    text-transform: uppercase;
    text-align: left;
    font-size: 20px;
    line-height: 22px;
    color: rgb(var(--rk--color__red));
    border-top: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navHeader button span {
    transition: transform .2s ease;
}

.navContent {
    padding: 0 15px;
    border-bottom: 1px solid #fff;
    transition: max-height .2s ease;
    max-height: 0;
    overflow: hidden;
}

.openTab .navContent {
    max-height: 300px;
}

.openTab .navHeader button span {
    transform: rotate(180deg);
}

.navList {

}

.navList li {
    margin-bottom: 10px;
}

.navList li a {
    display: block;
    padding: 5px 0;
    color: rgb(var(--rk--color__gray));
}

.navList li a:hover {
    text-decoration: underline;
    color: rgb(153, 161, 169);
}

@media (min-width: 768px) {
    .nav {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-gap: 1rem 2rem;
        padding: 0 2rem;
    }

    .navHeader button {
        margin-top: 20px;
        padding: 20px 0 10px;
        font-size: 18px;
        border: none;
    }

    .navHeader button span {
        display: none;
    }

    .navContent {
        padding: 0;
        max-height: none !important;
        border: none;
    }

    .navList li a {
        display: inline-block;
    }

}


@media (min-width: 1024px) {
    .nav {
        grid-gap: 1rem;
        padding: 0 1rem;
    }
}

.social {
    grid-area: social;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 2rem 0;
}

.socialHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    margin: 1rem 0 !important;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    line-height: 22px;
    color: rgb(var(--rk--color__red));
}


.socialLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 300px;
}

.socialIcon {
    width: 36px;
    height: 36px;
    overflow: hidden;
    box-shadow: none;
}

.socialIconLabel{
    position: absolute;
    height: 0;
    width: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

@media (min-width: 1024px) {
    .social {
        margin-top: 0;
    }
}


.bottom {
    grid-area: bottom;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem 0;
    grid-template-areas: 'norton' 'copyright';
}


.copyright {
    grid-area: copyright;
    text-align: center;
    font-size: 13px;
}

.copyright a{
    color: rgb(var(--rk--color__gray));
}

.copyright a:hover {
    text-decoration: underline;
    color: rgb(153, 161, 169);
}

.norton {
    grid-area: norton;
    align-self: self-end;
}

.nortonBox {
    display: block;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("https://res.cloudinary.com/rkm2/image/upload/c_scale,dpr_auto,f_auto,fl_any_format.immutable_cache.lossy.progressive,q_auto,h_89/v1535384423/rk_m2_main_assets/norton_secured_logo.png");
}

@media (min-width: 1024px) {

    .copyright {
        font-size: 16px;
    }

    .copyright {
        align-self: self-end;
    }
}


@media all and (-webkit-min-device-pixel-ratio: 1), all and (min--moz-device-pixel-ratio: 1), all and (-o-min-device-pixel-ratio: 1/1), all and (min-device-pixel-ratio: 1), all and (min-resolution: 96dpi), all and (min-resolution: 1dppx) {
    .nortonBox {
        background-image: url('https://res.cloudinary.com/rkm2/image/upload/c_scale,dpr_1.0,f_auto,fl_any_format.immutable_cache.lossy.progressive,h_89,q_auto/v1535384423/rk_m2_main_assets/norton_secured_logo.png')
    }
}

@media all and (-webkit-min-device-pixel-ratio: 1.3), all and (min--moz-device-pixel-ratio: 1.3), all and (-o-min-device-pixel-ratio: 13/10), all and (min-device-pixel-ratio: 1.3), all and (min-resolution: 124.8dpi), all and (min-resolution: 1.3dppx) {
    .nortonBox {
        background-image: url('https://res.cloudinary.com/rkm2/image/upload/c_scale,dpr_1.3,f_auto,fl_any_format.immutable_cache.lossy.progressive,h_89,q_auto/v1535384423/rk_m2_main_assets/norton_secured_logo.png')
    }
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (min--moz-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 144dpi), all and (min-resolution: 1.5dppx) {
    .nortonBox {
        background-image: url('https://res.cloudinary.com/rkm2/image/upload/c_scale,dpr_1.5,f_auto,fl_any_format.immutable_cache.lossy.progressive,h_89,q_auto/v1535384423/rk_m2_main_assets/norton_secured_logo.png')
    }
}

@media all and (-webkit-min-device-pixel-ratio: 2), all and (min--moz-device-pixel-ratio: 2), all and (-o-min-device-pixel-ratio: 2/1), all and (min-device-pixel-ratio: 2), all and (min-resolution: 192dpi), all and (min-resolution: 2dppx) {
    .nortonBox {
        background-image: url('https://res.cloudinary.com/rkm2/image/upload/c_scale,dpr_2.0,f_auto,fl_any_format.immutable_cache.lossy.progressive,h_89,q_auto/v1535384423/rk_m2_main_assets/norton_secured_logo.png')
    }
}

@media all and (-webkit-min-device-pixel-ratio: 3), all and (min--moz-device-pixel-ratio: 3), all and (-o-min-device-pixel-ratio: 3/1), all and (min-device-pixel-ratio: 3), all and (min-resolution: 288dpi), all and (min-resolution: 3dppx) {
    .nortonBox {
        background-image: url('https://res.cloudinary.com/rkm2/image/upload/c_scale,dpr_3.0,f_auto,fl_any_format.immutable_cache.lossy.progressive,h_89,q_auto/v1535384423/rk_m2_main_assets/norton_secured_logo.png')
    }
}

@media all and (-webkit-min-device-pixel-ratio: 3.5), all and (min--moz-device-pixel-ratio: 3.5), all and (-o-min-device-pixel-ratio: 3.5/1), all and (min-device-pixel-ratio: 3.5), all and (min-resolution: 336dpi), all and (min-resolution: 3.5dppx) {
    .nortonBox {
        background-image: url('https://res.cloudinary.com/rkm2/image/upload/c_scale,dpr_3.5,f_auto,fl_any_format.immutable_cache.lossy.progressive,h_89,q_auto/v1535384423/rk_m2_main_assets/norton_secured_logo.png')
    }
}

@media all and (-webkit-min-device-pixel-ratio: 4), all and (min--moz-device-pixel-ratio: 4), all and (-o-min-device-pixel-ratio: 4/1), all and (min-device-pixel-ratio: 4), all and (min-resolution: 384dpi), all and (min-resolution: 4dppx) {
    .nortonBox {
        background-image: url('https://res.cloudinary.com/rkm2/image/upload/c_scale,dpr_4.0,f_auto,fl_any_format.immutable_cache.lossy.progressive,h_89,q_auto/v1535384423/rk_m2_main_assets/norton_secured_logo.png')
    }
}