/* Form inputs*/
input[type='text'],
input[type='password'],
input[type='url'],
input[type='tel'],
input[type='search'],
input[type='number'],
input[type='datetime'],
input[type='email'],
input[type='text'],
textarea,
select {
    align-items: center;
    border: 1px solid rgb(var(--rk--color__gray-2));
    display: flex;
    box-shadow: none;
    padding: calc(0.375rem - 1px) calc(0.625rem - 1px);
    width: 100%;
    min-width: 100px;
    font-size: .8rem;
    height: 2.25rem;
    font-weight: 400;
    background: rgb(var(--rk--color__gray-6));
    border-radius: 2px;
    color: rgb(var(--rk-grey-dark));
    -webkit-appearance: none;
}

input[type='text']:not([disabled]):focus,
input[type='password']:not([disabled]):focus,
input[type='url']:not([disabled]):focus,
input[type='tel']:not([disabled]):focus,
input[type='search']:not([disabled]):focus,
input[type='number']:not([disabled]):focus,
input[type='datetime']:not([disabled]):focus,
input[type='email']:not([disabled]):focus,
input[type='text']:not([disabled]):focus,
textarea:not([disabled]):focus,
select:not([disabled]):focus {
    outline: none;
    border-color: rgb(var(--rk--color__red));
}

input[type='text'],
input[type='password'],
input[type='url'],
input[type='tel'],
input[type='search'],
input[type='number'],
input[type='datetime'],
input[type='email'],
select {
    height: 42px;
}

input[type='file'] {
    width: 100%;
}

select {
    cursor: pointer;
}
