@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
.placeholder {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: rgb(var(--rk--color__gray-7));
    background: linear-gradient(to right, rgb(var(--rk--color__gray-7)) 8%, #fdfdfd 18%, rgb(var(--rk--color__gray-7))33%);
    background-size: 1000px 104px;
    position: relative;
    overflow: hidden;
}