html {
    color: rgb(var(--rk--color__gray));
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}


a {
    color: currentColor;
    text-decoration: none;
}

p {
    margin: 0 0 10px;
}

p:not(:first-child):last-child {
    margin-bottom: 0;
}

input,
textarea,
select,
button {
    font-size: 100%;
    font-family: var(--venia-font);
}
