html {
    /*Venia global variables*/
    --venia-anim-bounce: cubic-bezier(0.5, 1.8, 0.9, 0.8);
    --venia-anim-in: cubic-bezier(0, 0, 0.2, 1);
    --venia-anim-out: cubic-bezier(0.4, 0, 1, 1);
    --venia-anim-standard: cubic-bezier(0.4, 0, 0.2, 1);
    --venia-border: 224, 224, 224;
    --venia-error: 192, 18, 63;
    --venia-error-alt: 255, 226, 234;
    --venia-font: korolev, -apple-system, BlinkMacSystemFont, sans-serif;
    --venia-grey: 246, 246, 246;
    --venia-grey-dark: 209, 209, 209;
    --venia-orange: 241, 99, 33;
    --venia-teal: 0, 115, 120;
    --venia-teal-alt: 224, 240, 241;
    --venia-teal-dark: 0, 104, 108;
    --venia-teal-light: 212, 243, 238;
    --venia-text: 85, 98, 112;
    --venia-text-alt: 112, 112, 112;
    --venia-text-hint: 158, 158, 158;
    --venia-text-spot: 255, 99, 51;
    --venia-warning-dark: 249, 93, 94;
    --venia-warning-light: 254, 229, 232;

    /*RK global variables*/
    --rk--color__green: 0, 170, 48;
    --rk--color__gray: 85, 98, 112;
    --rk--color__blue: 12, 78, 119;
    --rk--color__red: 169, 0, 0; /* Company red color */
    --rk--color__red-alt: 118, 0, 0;
    --rk--color__red-2: 198, 25, 61;
    --rk--color__yellow: 255, 192, 55;
    --rk--color__gray-1: 170, 177, 184;
    --rk--color__gray-2: 204, 204, 204;
    --rk--color__gray-3: 221, 224, 226;
    --rk--color__gray-4: 230, 232, 234;
    --rk--color__gray-5: 228, 232, 235;
    --rk--color__gray-6: 243, 243, 243;
    --rk--color__gray-7: 241, 245, 245;
    --rk--color__gray-8: 63, 73, 83;
}
