.root {
    background: transparent;
}

.border {
    height: 1px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: rgb(var(--venia-border));
}

.header {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    padding: 15px;
    border-color: rgb(var(--venia-border));
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
}

.content {
    padding: 5px 15px 15px 15px; 
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: rgb(var(--venia-border));
    border-radius: 0 0 5px 5px;
}

.loader {
    composes: border;
}

.errorMsg {
    color: rgb(var(--rk--color__red));
    font-size: 12px;
}

.inputRow input {
    background: transparent;
}

.cardIcon {
    max-width: 50px;
    display: inline-flex;
    margin-right: 20px;
}

.cardIcon svg {
    border: 1px solid #ddd;
    border-radius: 3px;
}

.label {
    font-size: 0.875rem;
    font-weight: 600;
    display: inline-block;
    margin: 10px 0 3px 0;
    color: rgb(var(--venia-text));
}

.loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 1px;
    background-color: rgb(var(--rk--color__red));
    animation: loading 1s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}