.root {
}

.body {
    composes: body from './flow.css';
}

.footer {
    composes: footer from './flow.css';
}

.informationPrompt {
    color: rgb(var(--venia-text));
    text-transform: capitalize;
    font-weight: bold;
}

.informationPrompt--disabled {
    color: rgb(var(--venia-text-hint));
    text-transform: capitalize;
}

.paymentDisplayPrimary {
    text-transform: capitalize;
}

.paymentDisplaySecondary {
    /* The ::first-letter pseudo element below only works on block elements */
    display: block;
    text-transform: lowercase;
}
.paymentDisplaySecondary::first-letter {
    text-transform: uppercase;
}

.sectionTotal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 0.5rem 0;
}

.sectionTotal > div{
    justify-content: flex-end;
    font-weight: bold;
}
.sectionTotal > span:last-of-type{
    font-weight: bold;
}
.sectionTotal > span:last-of-type,
.sectionTotal > div:last-of-type{
    font-size: 1rem;
    line-height: 24px;
    border-top: 1px solid rgb(var(--venia-border));
}

@keyframes enter {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
