.root {
    composes: root from '../clickable.css';
    background: none;
    border: 1px solid rgb(var(--color));
    border-radius: 3px;
    color: rgb(var(--color));
    min-width: 8.5rem;
    padding: 0 1.5rem;
    letter-spacing: 0.5px;
    font-weight: bold;
    height: 2.5rem;
    text-transform: uppercase;
    transition-duration: 384ms;
    transition-property: background-color, color;
    transition-timing-function: var(--venia-anim-standard);
    --color: var(--rk--color__red);
}

.rootSecondary {
    composes: root;
    --color: var(--rk--color__gray);
}

.filled {
    background-color: rgb(var(--color));
    color: white;
}

.root:hover {
    --color: var(--rk--color__red-alt);
}

.rootSecondary:hover {
    --color: var(--rk--color__gray-8);
    background-color: rgb(var(--color));
    color: white;
}

.root:focus {
    box-shadow: 0 0 0 2px rgb(var(--rk--color__red-alt)),
        0 0 0.5rem 2px rgba(var(--rk--color__red-alt), 0.2);
    outline: none;
    transition-duration: 128ms;
    --color: var(--rk--color__red-alt);
}

.rootSecondary:focus {
    box-shadow: 0 0 0 2px rgb(var(--rk--color__gray)),
        0 0 0.5rem 2px rgba(var(--rk--color__gray), 0.2);
    --color: var(--rk--color__gray);
}

.root:active {
    transition-duration: 128ms;
    --color: var(--rk--color__red-alt);
}

.rootSecondary:active {
    --color: var(--rk--color__gray);
}

.root:disabled {
    pointer-events: none;
    --color: var(--venia-grey-dark);
}

.content {
    align-items: center;
    display: inline-grid;
    gap: 0.5rem;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: center;
}

/* derived classes */

.root_normalPriority {
    composes: root;
}

.root_normalSecondaryPriority {
    composes: rootSecondary;
}

.root_highPriority {
    composes: root filled;
}

.root_highSecondaryPriority {
    composes: rootSecondary filled;
}


.root_normalSize {
    font-size: 0.875rem;
    height: 2.5rem;
}

.root_smallSize {
    height: 2rem;
    font-size: 12px;
}

.root_mediumSize {

}

.root_bigSize {
    height: 3.5rem;
    font-size: 25px;
}



















/****
.small {
    height: 2rem;
    letter-spacing: 0.5px;
    font-size: 12px;
}

.medium {
}

.big {
    height: 3.5rem;
    font-size: 25px;
    font-weight: bold;
}


.primary {
    background-color: rgb(var(--rk--color__red));
    border: 1px solid rgb(var(--rk--color__red));
    color: white;
}

.primary:hover {
    background-color: rgb(var(--rk--color__red-alt));
}

.secondary {
    background-color: rgb(var(--venia-grey-dark));
    border: 1px solid rgb(var(--venia-grey-dark));
    color: white;
}

.secondary:hover {
    background-color: rgb(var(--rk--color__gray-8));
}

.empty {
    background-color: transparent;
    border: 1px solid currentColor;
    color: rgb(var(--rk--color__gray));
}

.empty:hover {
    background-color: rgb(var(--rk--color__gray));
    border-color: rgb(var(--rk--color__gray));
    color: white;
}
.asLink {
*/