.root {
    composes: root from '../clickable.css';
    height: 2.5rem;
    min-width: 8.75rem;
    padding: 0 1.5rem;
    font-size: 0.875rem;
    font-family: var(--venia-font);
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: opacity 256ms linear;
    touch-action: manipulation;
    -webkit-appearance: none;
}

.root[disabled] {
    filter: grayscale(1);
    opacity: 0.38;
    pointer-events: none;
}

.content {
    align-items: center;
    display: inline-grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    grid-gap: 0.5rem;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
}

/*** Sizes ***/
.small {
    height: 2rem;
    letter-spacing: 0.5px;
    font-size: 12px;
}

.medium {
}

.big {
    height: 3.5rem;
    font-size: 25px;
    font-weight: bold;
}

/*** Genre ***/
.primary {
    background-color: rgb(var(--rk--color__red));
    border: 1px solid rgb(var(--rk--color__red));
    color: white;
}

.primary:hover {
    background-color: rgb(var(--rk--color__red-alt));
}

.secondary {
    background-color: rgb(var(--venia-grey-dark));
    border: 1px solid rgb(var(--venia-grey-dark));
    color: white;
}

.secondary:hover {
    background-color: rgb(var(--rk--color__gray-8));
}

.empty {
    background-color: transparent;
    border: 1px solid currentColor;
    color: rgb(var(--rk--color__gray));
}

.empty:hover {
    background-color: rgb(var(--rk--color__gray));
    border-color: rgb(var(--rk--color__gray));
    color: white;
}
.asLink {
}
