.infoWindowButtons {
    display: flex;
    flex-direction: column;
}

.storeDetailsButton {
    composes: root_normalPriority from '../../Button/button.css';
    composes: root_smallSize from '../../Button/button.css';
    font-family: var(--venia-font);
    margin-bottom: 5px;
}
