.content {
    padding: 0 10px 10px;
}

.content p {
    margin: 15px 0;
    padding: 0 10px;
}

.sticky {
    background: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.buttonSticky {
    composes: root_highPriority from '../../../Button/button.css';
    composes: root_normalSize from '../../../Button/button.css';
    display: flex;
    align-items: center;
    font-size: 21px;
    width: calc(50% - 5px);
}

.buttonSticky:hover {
    background: rgb(var(--rk--color__red-alt));
    border: 1px solid rgb(var(--rk--color__red-alt));
}

.detailsHeading {
    margin: 10px 0;
    padding: 10px;
    background: rgb(var(--venia-border));
}

.storeDetails {
    margin-top: 10px;
}
